#top-header
  #top-left
    #brand-name
      EMPOWER
    %ul.cities
      %li.active{:data => {:city => "kolkata"}}
        Kolkata
      %li{:data => {:city => "bangalore"}} 
        Bangalore
      %li{:href => "#", :data => {:city => "mumbai"}} 
        Mumbai
    #header-right-navbar
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Careers
        %li
          %a{:href => "#"} Products
        %li
          %a{:href => "#"} Offers
        %li
          %a{:href => "#"} Partners

#city-images
  .city-image{:data => { :city => "kolkata"}}
    = image_tag "kolkata2.png"
  .city-image{:data => {:city => "mumbai"}}
    = image_tag "mumbai2.png"
  .city-image{:data => {:city => "bangalore"}}
    = image_tag "bangalore2.png"

#why-empower
  %h1
    .header2
      Why Empower?
    .why-empower-border

= render :partial => 'card_details'

#how-does-it-work
  %h1
    .header3
      How Does It Work? 
    .border3

  .steps
    .step
      .step-image
        = image_tag("1.png", :class => "working-image")
      .step-instructions
        1. Get Empowered with a card
    .step
      .step-image
        = image_tag("2.png", :class => "working-image")
      .step-instructions
        2. Charge your card
    .step
      .step-image
        = image_tag("3.png", :class => "working-image")
      .step-instructions
        3. Swipe @ partner outlets
    .step
      .step-image
        = image_tag("4.png", :class => "working-image")
      .step-instructions
        4. Get rewarded

.container5
  .social
    .icon-button.twitter{:href => "#"}
      %i.icon-twitter
      %span
        1.2K
    .icon-button.facebook{:href => "#"}
      %i.icon-facebook
      %span
        2.3K 
    .icon-button.google-plus{:href => "#"}
      %i.icon-google-plus
      %span
        4.5K
  .footer.inline
    .copyright
      Copyright © 2015 - 2016 - All Rights Reserved 
      %span.footer-separator| 
      Contact Us


