#top-header
  #top-left
    #brand-name
      .short
        EMPOWER
      .full
        electronic money power
    #header-right-navbar
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Careers
        %li
          %a{:href => "#"} Products
        %li
          %a{:href => "#"} Offers
        %li
          %a{:href => "#"} Partners

#cityCarousel.carousel.slide{:data => {"ride" => "carousel", "interval" => "2500"}}
  %ol.carousel-indicators
    %li.active{:data => {"target" => "#cityCarousel", "slide-to" => "0"}}
    %li{:data => {"target" => "#cityCarousel", "slide-to" => "1"}}
    %li{:data => {"target" => "#cityCarousel", "slide-to" => "2"}}

  .carousel-inner{:role => "listbox"}
    .item.active
      = image_tag "kolkata.png"
      .carousel-caption
        %h3 Kolkata
        %p Use to get Metro tickets, book pre-paid taxis in the airport and for parking in select malls
    .item
      = image_tag "mumbai.png"
      .carousel-caption
        %h3 Mumbai
        %p Use to get local train tickets, book pre-paid taxis in the airport and for parking in select malls
    .item
      = image_tag "bangalore.png"
      .carousel-caption
        %h3 Bangalore
        %p Use to get Metro tickets, book pre-paid taxis in the airport and for parking in select malls

  %a.left.carousel-control{:href => "#cityCarousel", :role => "button", :data => {"slide" => "prev"} }
    %span.glyphicon.glyphicon-chevron-left{:aria => {"hidden" => "true"}}
    %span.sr-only Previous
  %a.right.carousel-control{:href => "#cityCarousel", :role => "button", :data => {"slide" => "next"} }
    %span.glyphicon.glyphicon-chevron-right{:aria => {"hidden" => "true"}}
    %span.sr-only Next

#why-empower
  %h1
    .header2
      Why Empower?
    .why-empower-border

= render :partial => 'card_details'

#how-does-it-work
  %h1
    .header3
      How Does It Work? 
    .border3

  .steps
    .step
      .step-image
        = image_tag("1.png", :class => "working-image")
      .step-instructions
        1. Get Empowered with a card
    .step
      .step-image
        = image_tag("2.png", :class => "working-image")
      .step-instructions
        2. Charge your card
    .step
      .step-image
        = image_tag("3.png", :class => "working-image")
      .step-instructions
        3. Swipe @ partner outlets
    .step
      .step-image
        = image_tag("4.png", :class => "working-image")
      .step-instructions
        4. Get rewarded

#why-empower
  %h1
    .header2
      Partner With Us
    .why-empower-border

= render :partial => 'partnership_details'

#contact-section
  .contact-message
    %p.message
      One of the primary objectives for us at Empower is to make the experience of utilizing our product more profitable for our partners at the Merchant end. Please fill up the form to start the process.
  = render :partial => 'contact_form'


#container5
  .social
    .icon-button.twitter{:href => "#"}
      %i.icon-twitter
      %span
        1.2K
    .icon-button.facebook{:href => "#"}
      %i.icon-facebook
      %span
        2.3K 
    .icon-button.google-plus{:href => "#"}
      %i.icon-google-plus
      %span
        4.5K
  .footer.inline
    .copyright
      Copyright © 2015 - 2016 - All Rights Reserved 
      %span.footer-separator| 
      Contact Us

